<!DOCTYPE html>
<html>
<head>
	 <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
	<title></title>
</head>
<body>
	<h1>my favorite food </h1>

<br>
	{% if no_food %}
		<p> I dont love these food!  </p>
	{% else %}
	   	<p> i love these food </p>
	{% endif %}
		<li> {{food}} </li>
</br>
	<img src="{{ url_for('static', filename='pizza.jpg') }}" width="300" height="250">

	<img src="{{ url_for('static', filename='mujadra.jpg') }}" width="300" height="250">

	<img src="{{ url_for('static', filename='burgermenu.jpg') }}" width="300" height="250">




</body>
</html><!-- Put the HTML template for your page here! -->